.gallery {

    .grid-container {
        margin: 0 auto;
        // display: grid;
        // grid-template-columns: repeat(3, 1fr);
        /* Adjust the minmax values as needed */
        // grid-gap: 15px;
        // grid-template-rows: masonry;
        // .grid-item {
        //     grid-column-end: span 1;

        .grid-item {
            width: 300px;
            margin-bottom: 20px;
        }

        img {
            width: 100%;
            display: block;
        }

    }
}


@media (max-width:767px) {
    .gallery {
        .grid-container {
            .grid-item {
                width: 180px;
            }
        }
    }
}