.hero-banner {
    height: 100vh;
    position: relative;

    #hero-banner-carousel,
    .carousel-inner,
    .carousel-item,
    img {
        height: 100%;
    }

    #hero-banner-carousel {
        z-index: -1
    }

    .carousel-item {

        img {
            object-fit: cover;
        }
    }

    .overlay {
        position: absolute;
        inset: 0;
        background-color: rgba($color: #000000, $alpha: 0.5);

    }

    .hero-banner-inner {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);

        .hero-title {
            font-size: 80px;
        }
    }

    .button-carousel {
        position: absolute;
        right: 10px;
        bottom: 10px;
        display: flex;
        gap: 10px;

        .carousel-control-prev,
        .carousel-control-next {
            position: unset;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #36454F;
        }
    }

    .bottom-overlay {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 250px;
        background: linear-gradient(180deg, rgba(4, 21, 45, 0), $color-2 100%);
    }
}

@media (max-width:991px) {
    .hero-banner {
        .hero-banner-inner {
            .hero-title {
                font-size: 60px;
            }
        }

        .button-carousel {
            bottom: 5vh;
        }
    }
}


@media (max-width:767px) {
    .hero-banner {
        .hero-banner-inner {
            .hero-title {
                font-size: 50px;
            }
        }

        .button-carousel {
            bottom: 10vh;
        }
    }
}