@import "./theme-variables";

body {
    background-color: $body-bg-color;
    color: $font-color;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: $color-1;

    &:active,
    &:focus {
        color: $color-1;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: $h1-size;
    font-weight: $h1-font-weight;
}

h2 {
    font-size: $h2-size;
    font-weight: $h2-font-weight;
}

h3 {
    font-size: $h3-size;
    font-weight: $h3-font-weight;
}

h4 {
    font-size: $h4-size;
    font-weight: $h4-font-weight;
}

h5 {
    font-size: $h5-size;
    font-weight: $h5-font-weight;
}

h6 {
    font-size: $h6-size;
    font-weight: $h6-font-weight;
}

p {
    color: $color-1;
}


.title {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    margin-top: $spacing-m;
}

.subtitle {
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 20px;
}

.inner-wrap {
    padding-top: $inner-wrap-top-spacing;
    padding-bottom: $inner-wrap-bottom-spacing;
}

.content-wrap {
    margin-top: $content-wrap-top-spacing;
}

.button-primary {
    background-color: $btn-primary-bg-color;
    color: $btn-primary-text-color;
    border-radius: $btn-primary-border-radius;
    border: 1px solid $btn-primary-border-color;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
    margin-top: $spacing-m;

    &:hover {
        background-color: $btn-primary-bg-color-hover;
        color: $btn-primary-text-color-hover;
    }
}



@media (max-width:991px) {
    .inner-wrap {
        padding-top: $inner-wrap-spacing-top-sm;
        padding-bottom: $inner-wrap-spacing-bottom-sm;
    }

    h1 {
        font-size: $h1-size-sm;
    }

    h2 {
        font-size: $h2-size-sm;
    }

    h3 {
        font-size: $h3-size-sm;
    }

    h4 {
        font-size: $h4-size-sm;
    }

    h5 {
        font-size: $h5-size-sm;
    }

    h6 {
        font-size: $h6-size-sm;
    }

    .subtitle {
        font-size: 18px;
    }
}